<div class="row carousel-holder">
    <div class="col-md-12" >
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner ">
            <% @banners.each do |banner| %>
                <div class="item <%= @banners.first.id == banner.id ? "active" : "" %>">
                  <%= image_tag banner.picture.url(:large), class: "slide-image" %>
                </div>
            <% end %>
            </a>
        </div>
    </div>
</div>