<footer>
    <div class="row">
        <div align="center" class="col-lg-12">
        <hr>
        <h5>Comercial Pibi Ltda</h5>
        <h6>Rua Victor Rosemberg, 384 | CNPJ: 79.017.752/0001-15 | Vila Lenzi | Jaraguá do Sul | CEP: 89.252-400 </h6>
        <h6>Copyright &copy; Comercial Pibi <%= Date.today.year %></h6>
        <h6>Developed by <a href="https://kristian-resume.herokuapp.com/" target="_top">Kristian</a></h6>
        </div>
    </div>
</footer>
