<% @products.each do |product| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
        <%= image_tag product.picture.url(:medium) %>
            <div class="caption">
                <h4>
                    <%= link_to truncate(product.title, length: 26), site_product_detail_path(product),
                                                                          remote: true, data: { push: :partial}%>
                </h4>
            </div>
            <div>
                <button class="btn btn-success" title="Solicitar orçamento">
                    <span class="fa fa-shopping-cart">   Solicitar orçamento</span>
                </button>
            </div>
        </div>
    </div>
<% end %>
<div class="row">
    <div class="text-center">
        <%= paginate @products %>
    </div>
</div>