<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    </head>

    <body>

        <!-- Page Content -->
    <div class="container">
        <div class="row">
        <%= render partial: "site/shared/sidebar" %>
            <div id="product-detail" class="col-md-9">
                <%= render partial: "site/shared/carousel" %>
                <hr>
                <div class="row">
                    <%= render partial: "site/shared/product" %>
                </div>
            </div>
        </div>
    </div>
        <!-- /.container -->

    </body>
</html>

<div class="container">
    <hr>
    <div class="col-md-12">
        <div class="col-md-3">
        </div>

        <div class="col-md-5">
            <div class="row-fluid">
                <div class="span8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571.215870099576!2d-49.10099334974202!3d-26.480993483233597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94de945e90387ff7%3A0x1ec2ec228da97b22!2sComercial+Pibi!5e0!3m2!1spt-BR!2sbr!4v1498607549860" width=100% height="300px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="span8">
                <address class="pull-left">
                    <strong>Comercial Pibi Ltda</strong><br>
                    Rua Victor Rosemberg, 384<br>
                    Vila Lenzi<br>
                    Jaraguá do Sul / SC<br>
                    CEP: 89252-400<br>
                    (47) 3370-8822  /  (47) 3372-3429<br>
                </address>
            </div>
        </div>
    </div>
</div>
