<h1 class="page-header">Dashboard</h1>

<h3>
  Bem-vindo a central administrativa. <br><br>
</h3>
<h4>
  <br>
  <b>Categorias:</b>  Permite a criação/edição de Categorias e Subcategorias.<br><br>
  <b>Clientes:</b>  Visualização dos clientes (Física e Jurídica) cadastrados.<br><br>
  <b>Produtos:</b>  Permite a criação/edição de Produtos e Marcas.<br><br>
  <b>Banner:</b>  Permite a criação/edição dos Banners que serão exibidos na página inícial do site.<br><br>
  <b>Configurações:</b>  Permite a criação/edição da Logomarca e uma descrição sobre a loja.
</h4>
